
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

button {
  margin: 0 5px;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 5px;
}
.player{
  color: #bc5400;
}
.computer{
  color: #c20000;
}